@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;700&display=swap');
.filter-list-container {
  display: flex;
  justify-content: center; /* Center filters horizontally */
  flex-wrap: wrap;
  margin-bottom: 20px; /* Added margin for spacing */
}

.filter-list-container > * {
  margin: 10px; /* Margin between filters */
}

.filter-select {
  font-family: monospace;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #333; /* Dark background for select */
  color: #fff; /* White text for contrast */
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  width: 180px; /* Consistent width for all selects */
  transition: background-color 0.3s; /* Smooth transition */
}

.filter-select:hover {
  background-color: #444; /* Slightly lighter on hover */
}

.filter-select:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Light glow on focus */
}
  
  .note {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  li:last-child {
    border-bottom: none;
  }
  
  li:hover {
    background-color: #ffffff4d;
  }
  
  
  .middleTitle {
    font-size: 36px;
    font-weight: bold;
    color: #fff; 
    text-align: center;
    background-color:  rgba(255, 255, 255, 0.3); 
    padding: 10px; 
    border-radius: 10px;
    font-family: 'Kaisei Tokumin', sans-serif;
    display: inline-block; 
    margin: 25px 0px 25px 25px;     /* top right bottom left */
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
  }
  @media screen and (max-width: 768px) {
    .button {
      width: 100%;
    }
  }
  .filter-list-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .filter-list-container > * {
    margin: 10px;
  }

  
  /* For mobile screens */
  @media only screen and (max-width: 768px) {
   .filter-list-container {
      flex-direction: column;
    }
  }