.middleTitle {
    font-size: 36px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 10px;
    border-radius: 10px;
    font-family: "Kaisei Tokumin", sans-serif;
    display: inline-block;
    margin: 25px 0px 25px 25px; /* top right bottom left */
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .link {
    color: #1e90ff; /* Link color */
    text-decoration: none; /* Remove underline */
  }
  
  .link:hover {
    text-decoration: underline; /* Underline on hover */
  }
  
  .titleContainer, .dayTitle {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .middleTitle {
    font-size: 2em;
  }
  
  .dayTitle h2 {
    font-size: 1.5em;
    margin: 20px 0;
  }
  
  .container {
    margin-top: 20px;
  }
  
  .tableWrapper {
    overflow-x: auto; /* Makes the table responsive */
    flex-grow: 1;
    max-width: 1200px;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .table th, .table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
  }
  
  .table th {
    background-color: #444; /* Slightly lighter shade for headers */
  }
  
