@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;700&display=swap');

.container {
  display: flex;
  gap: 100px;
  padding-top: 6rem;
  flex-direction: row;
}

.textContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
  font-family: 'Kaisei Tokumin', sans-serif;
}

.title{
  font-size: 96px;
  font-family: 'Kaisei Tokumin', sans-serif;
}

.desc{
  font-size: 20px;
}

.buttons{
  display: flex;
  gap: 20px;
}

.button{
  padding: 20px;
  min-width: 120px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.button:first-child{
  background-color: var(--btn);
  color: var(--text);
}

.brands{
  width: 500px;
  height: 50px;
  position: relative;
  filter: grayscale(1);
}

.imgContainer {
  flex: 1;
  position: relative;

}

@media (max-width: 1024px) {
  .container {
    flex-direction: column;
    text-align: center;
  }

  .buttons{
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 64px;
  }

  .brands{
    width: 100%;
  }
}

.middleTitle {
    font-size: 36px;
    font-weight: bold;
    color: #C58484; 
    text-align: center;
    background-color:  #DDD6CE; 
    padding: 10px; 
    border-radius: 10px;
    font-family: 'Kaisei Tokumin', sans-serif;
    display: inline-block; 
    margin: 0 auto;
  }

  .heroCont {
    padding-top: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .teamContainer {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
 
  .imgContainer {
    width: 100%; /* or a specific width you want */
    height: auto; /* or a specific height you want */
  }
  .heroImg {
    width: 100%; /* or a specific width you want */
    height: auto; /* or a specific height you want */
  }
  .textContainer {
    display: flex;
    flex-direction: column;
  }
  .title {
    order: -1; /* move to top */
  }