@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;700&display=swap');

.middleTitle {
  font-size: 36px;
  font-weight: bold;
  color: #fff; 
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3); 
  padding: 10px; 
  border-radius: 10px;
  font-family: 'Kaisei Tokumin', sans-serif;
  display: inline-block; 
  margin: 25px 0px 25px 25px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
}

.filter-list-container {
  display: flex;
  justify-content: center; /* Center filters horizontally */
  flex-wrap: wrap;
  margin-bottom: 20px; /* Added margin for spacing */
}

.filter-list-container > * {
  margin: 10px; /* Margin between filters */
}

.filter-select {
  font-family: monospace;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #333; /* Dark background for select */
  color: #fff; /* White text for contrast */
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  width: 180px; /* Consistent width for all selects */
  transition: background-color 0.3s; /* Smooth transition */
}

.filter-select:hover {
  background-color: #444; /* Slightly lighter on hover */
}

.filter-select:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Light glow on focus */
}

.notes-table {
  max-width: 1200px;
  margin: 20px auto;
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.notes-table th, .notes-table td {
  padding: 12px;
  border: 1px solid #ddd6ce98; /* Lighter border for better contrast */
  text-align: left;
}

.notes-table th {
  background-color: #444; /* Darker header background */
  color: #fff; /* White text for headers */
  font-weight: bold;
}

.notes-table tr:hover {
  background-color: #555; /* Slightly lighter on row hover */
}

/* Add media queries for responsive design */
@media only screen and (max-width: 768px) {
  .filter-list-container {
    flex-direction: column;
    align-items: center; /* Center items vertically */
  }
}

/* Button styles */
.buttonsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.buttonRow {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.button {
  background-color: #ddd6ce98; /* Semi-transparent white background */
  backdrop-filter: blur(10px); /* Glass morphism effect */
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  width: 150px;
  color: #000;
  font-family: 'Kaisei Tokumin', sans-serif;
}

.button:hover {
  background-color: #DDD6CE; /* Grey color */
  color: #000;
}

/* Responsive button styles */
@media only screen and (max-width: 768px) {
  .button {
    padding: 10px; 
    width: 100%; 
  }
}
