.middleTitle {
  font-size: 36px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 10px;
  border-radius: 10px;
  font-family: "Kaisei Tokumin", sans-serif;
  display: inline-block;
  margin: 25px 0px 25px 25px; /* top right bottom left */
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
}

  .teamContainer {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* set the height to 100vh to center vertically */
  }